# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Mac OS X
.DS_Store

# Build and operational data
dist
data

# NetBeans project files
nbproject
.project
.settings
